%h2.half.centered{ :align => "center" }Something is wrong
.half.centered
  %p{ :style => "text-align: center"}
    please 
    %a{ :href => "mailto:denis.redozubov@gmail.com"} email me
    about this issue