.answers
  - answers.each do |answer|
    %label
      %input{ :type => "checkbox", :name => "question_#{ index }", :id => answer.index }
      = answer.answer
  %label
    Other:
    .answers
      %input.seven.input-gray{ :type => "text", :name => "question_#{ index }" }