.progressbar
  .progressbar-caption
    %span
      Прогресс: 
    %span.current
      0
    %span
      of
    %span.length
      = statements.length
.span.bold
  Утверждения:
.statements{ :total => statements.length }
  - statements.each do |s|
    %p.italic.statement.draggable{ :id => "statement_#{ s.index }" }= s.statement
.range_statements.accordion
  - range_statements.each do |r|
    %h3.droppable
      %span
      =r.range_statement
    .range_statement.droppable{ :range_statement_id => r.index }