-# coding: utf-8
!!! 5
%html
  %head
    %header
      %title= "Pollster - #{ defined?(poll) ? poll.title  : (defined?(title) ? title : "error!")}"
      %link(rel="stylesheet" href="/css/kube.css")
      %link(rel="stylesheet" href="/css/jquery-ui.css")
      %link(rel="stylesheet" href="/css/style.css")
      %script(src="/javascripts/jquery-1.9.1.min.js")
      %script(src="/javascripts/jquery-ui-min.js")
      %script(src="/javascripts/application.js")
  %body
    #wrapper
      #container.container.row
        #header.row
          %h1.half.centered(align="center")
            Pollster
        #content
          =yield
        #footer
          .row
            .half.centered
              %p(align="center")
                2013, Powered by 
                %a(href="https://github.com/dredozubov/pollster")
                  Pollster
                &nbsp | &nbsp
                По всем вопросам обращаться
                %a(href="mailto:denis.redozubov@gmail.com?Subject=Pollster") сюда