%h2.half.centered(align="center")= poll.title
%form{ :id => "poll-form", :method => "post", :class => "forms" }
  %fieldset{:class => "liner"}
    - poll.questions.each do |q|
      .row
        .fifth
        .threefifth
          = render_question q.question, q.index
        .fifth
    .row
      .half.centered
        %a{ :href => "/validate_poll", :class => "btn" }
          Сохранить