#wrapper{
    width:100%;
    margin:auto;
}

#header>h1{
    font-size:200%;
}

h2{
    font-size:130%;
    font-family:sans-serif;
}

h1{
    font-size:150%;
}

p{
    margin-bottom: 3px;
}

.bold { 
  font-weight: bold; 
}

.statement {
  border: 1px solid;
  padding: 5px;
  cursor: move;
  display: none;
}

/* progress bar*/

.ui-progressbar {
  cursor: default;
  display: none;
  position: relative;
  margin-bottom: 5px;
}

.progressbar-caption {

  text-align: center;
  position: absolute;
  left: 38%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  }
